# Set default behavior to automatically normalize line endings
* text=auto

# Explicitly declare text files to be normalized
*.py text
*.html text
*.css text
*.js text
*.md text
*.txt text
*.json text

# Denote binary files
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
